version: "3"
services:
  neo4j:
    image: neo4j:5.12
    environment:
      - NEO4J_PLUGINS=["graph-data-science"]
      - NEO4J_AUTH=neo4j/password
      - NEO4J_apoc_export_file_enabled=true
      - NEO4J_apoc_import_file_enabled=true
      - NEO4J_dbms_security_procedures_unrestricted=gds.*,apoc.*
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./data:/data
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
  weaviate:
    image: semitechnologies/weaviate:latest
    container_name: weaviate

    ports:
      - "8080:8080"
      - "50051:50051"
    command: >
      --host 0.0.0.0
      --port 8080
      --scheme http
    environment:
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"
      DEFAULT_VECTORIZER_MODULE: "none"
